$def with (report)

<h1>report: $report.REPORT_ID</h1>

<ul>
    <li>APP_VERSION: $report.APP_VERSION</li>
    <li>APP_VERSION_NAME: $report.APP_VERSION_NAME</li>
    <li>ANDROID_VERSION: $report.ANDROID_VERSION</li>
    <li>PHONE_MODEL: $report.PHONE_MODEL</li>
    <li>PHONE_BRAND: $report.PHONE_BRAND</li>
    <li>PRODUCT: $report.PRODUCT</li>
    <li>USER_CRASH_DATE: $report.USER_CRASH_DATE</li>
    <li>PACKAGE_NAME: $report.PACKAGE_NAME</li>
    <li>STACK_TRACE: $report.STACK_TRACE</li>
</ul>
